:root {
     --color-bg-dark: #1a1a1a;        /* Fondo general claro lila suave */ 
  --color-bg-section: #242323;     /* Fondo secciones más claro */ 
  --color-surface-light: #afa8be;  /* Superficies claras (tarjetas, paneles) */ 
  --color-accent: #8b5cf6;         /* Acento principal (lila moderno) */ 
  --color-accent-alt: #9873ee;     /* Acento secundario (turquesa suave) */ 
  --color-text-main: #f0f0f0;      /* Texto principal oscuro */ 
  --color-accent-shadow: rgba(139, 92, 246, 0.5);   /* Sombra suave lila basada en el color-accent */
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif; /* fuente de la pagina web */
    background-color: var(--color-bg-dark);
    align-items: center;
    color: white;
    width: 90%;
    margin: 0 auto;
}


/* Estilos al header de la pagina */
.mi_header {
    background-color: var(--color-bg-section); /* color de fondo */
    display: flex; /* lo ponemos como contenedor tipo flex */
    justify-content: space-between; /* lo ponemos que esten cada uno pegado a su lado */
    border-bottom: solid 2px var(--color-accent); /* borde de abajo */
    margin-bottom: 10px; /* margen de abajo */
    padding: 20px 20px;
    align-items: center;
}

.mi_header div nav {
    
}

/* Estilos al menu de navegacion del header (mi_nav) */
.mi_nav{
}

/* Estilos al los ul del menu de navegacion del header (mi_nav) */
.mi_nav ul {
    list-style-type: none; /* le quitamos los · de la lista */
    display: flex;  /* lo ponemos como flebox */
    gap: 10px; /* ponemos margen entre ellos de 10px */
}

.mi_nav a {
    color: white; /* color de la letra */
    text-decoration: none; /* para quitar el subrayado de los enlaces */

}


/* Estilos a la Sección 1 */
.section1 {
    background-color: var(--color-bg-section);
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse; /* le ponemos que la direccion del flex sea horizontal a la inversa */
    gap: 20px; 
    margin-bottom: 20px;
    justify-content: flex-end;
    align-items: center;
}

.texto_inicio p {
    color: var(--color-surface-light);
}

/* Estilos a div registro de la Sección 1 */
.registro {
    border: solid 2px var(--color-accent);
    border-radius: 10px;
    background-color: var(--color-bg-dark);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilos al formulario del div resgistro */
.registro form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* estilos a los labels del form registro */
.registro label {
    color: var(--color-surface-light);
}

/* estilos a todos los input del form registro */
.registro input {
    padding: 5px;
    border: solid 2px var(--color-accent);
    background-color: var(--color-bg-dark);
    border-radius: 5px; 
    color: var(--color-accent);
    background-color: var();

}

/* estilos al ultimo input del form con class registro */
.registro input:last-of-type {
    background-color: var(--color-accent);
    color: var(--color-bg-dark);
}

/* estilos a los placeholders del registro */
.registro ::placeholder {
    color: var(--color-accent);
}

/* Estilos al label email */
.email {
    margin-top: 10px;
}


.crear_cuenta {
    margin-top: 10px;
    color: white;
    background-color: var(--color-accent);
}

/* Estilos a la seccion 2 */
.section2 {
    background-color: var(--color-bg-section);
    border-radius: 16px;
    padding-top: 10px;

}


.section2 .h3_tarjetas {
    text-align: center; /* alinea el texto centrado */
    border-bottom: solid 2px var(--color-accent);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}


.contenedor_tarjetas {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos a las 3 primeras tarjetas */
.contenedor_tarjetas1 {
    display: flex;
    gap: 20px;

}

/* Estilos a las trajetas */
.tarjeta {
    background-color: var(--color-surface-light);
    border-radius: 16px;
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 5px 5px 8px 2px var(--color-accent-shadow);
}

.tarjeta h3, p, a {
    width: 95%;
}

/* Estilos a las imagenes de las tarjetas */
.tarjeta img {
    width: 90%;
    margin: 20px;
    border: solid 2px var(--color-accent-alt);
    border-radius: 10px;
}

.tarjeta h3 {
    color: var(--color-bg-section);
}

/* Estilos a los enlaces (ver detalles) de las tarjetas */
.contenedor_tarjetas a {
    text-decoration: none;
    color: var(--color-bg-section);
    font-weight: bold;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-accent);margin-bottom: 0;
}

/* Estilos a las puntuaciones de las series */
.tarjeta p:first-of-type {
    color: var(--color-accent-alt);
    font-weight: bold;
}


/* Estilos al footer */
footer {
    background-color: var(--color-bg-section); /* color de fondo */
    width: 100%;
    display: flex; /* lo ponemos como contenedor tipo flex */
    margin-top: 30px; /* margen de arriba */
    padding: 20px 0px;   
}

footer p {
    display: flex;
    justify-content: center;

}



