:root {

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mi_container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;

    color: white;
}

.mi_container::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* Capa negra al 60% */
    url(./img/fondo_header.jpg); /* Tu imagen original */
    clip-path: polygon(100% 0, 100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
    z-index: -1; /* Se manda al fondo para no tapar el texto */
    background-size: cover;
}

/* estilos a los navegadores */
nav {
    padding: 18px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_logo {
    width: 50px
}

/* estilos a las img del menu "redes_sociales*/
.redes_sociales img {
    padding: 0 10px;
    width: 60px;
}


/* estilos al nav menu */
.menu {
    display: flex;
    align-items: center;
    flex-grow: 10;
}

/* estilos a los enlaces del nav menu */
.menu a {
    color: white; /* color del texto blanco */
    text-decoration: none; /* quitamos subrayado de los enlaces */ 
    font-size: 20px; /* tamaño de la letra */
}


/* estilos a la sección texto*/
.texto {
    display: flex; /* lo ponemos como un contenedor flexbox*/
    flex-direction: column; /* que el flexbox tenga dirección vertical*/
    justify-content: center; /* contenido justificado centrado verticalmente*/
    text-align: center;
    height: 75vh; /* altura de 75vh */
    width: 65%;
    margin: 0 auto;
}

/* estilos al tittle de la sección texto*/
.tittle {
    font-size: 30px;
    margin-bottom: 20px;
}

/* estilos al párrafo de la sección texto */
.parrafo {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500px;
    margin-top: 10px;
    line-height: 1.8;
}

/* estilos al boton "Saber más */
.button {
    background-color: blue;
    align-self: center;
    padding: 13px 30px;
    border-radius: 30px;
}

/* estilos al texto del boton "Saber más */
.button a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}









