:root { /*Para definir variables*/
    --primary-color: #076896; 
    --primary-color_transparencia: #07689677; 
    --boton_active: #004466;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

header, main, footer {
    max-width: 900px;
    margin: 0 auto ;
}
 


header {
    background-color: #076896;
    color: white;
    text-align: center;
    border-bottom: 8px;
    border-radius: 0px 0 4px 4px;
    padding-top: 0.5px;
    box-shadow:  0rem 0.2rem 0.5rem black; /*Para poner sombra*/
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;   
    padding: 0.3rem 0.6rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.5); /*Color de fondo de los enlaces de navegacion en blanco semitransparente*/

}

section { /*Estilos a las secciones*/
    background-color: white;
    box-shadow: 0px 2px 4px black; /*Para poner sombra*/
    border-radius: 8px;  /*Borde redondeado de las secciones*/
    margin: 1rem 0; 
    padding: 1rem;

}

section h2 {
    color: #006699;
    margin-bottom: 0.5rem;
}

/*Pseaudo clases*/

.btn, .btn-sec {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: white;
    padding: 0.3rem 0.6rem;
    margin: 0 0.1rem 0.6rem 0;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;

}

.btn:hover, .btn-sec:hover { /*Estilo para cuando pasemos el cursor por los botones "Enlace interactivo y "Boton"*/
    background-color: var(--primary-color_transparencia);
    transition: background-color 0.5s;
}

.btn:active, .btn-sec:active { /*Estilos para que cuando cliquemos en el boton cambie ligeramente en el fondo*/
    background-color: var(--boton_active);

}

input  {
    border: 1px solid #999;
    padding: 0.3rem;
    margin-top: 0.3rem;
    border-radius: 4px;

}

input:focus { /*Estilos para que cuando pinche en el input*/
    outline: none; /*Quiamos el contorno por defecto que usa el navegador*/
    border: 1px solid var(--primary-color);

    
}