:root {
    --imagen_fondo: #f5fdb8;
    --imagen_fondo_nav: #f1b7b7;
}

@import url(https://fonts.googleapis.com/css2?family=Audiowide&display=swap);

/* Todo el contenido de la página van a tener la propiedad box-sizing con el valor border-box. */
body {
    box-sizing: border-box;  
    margin: 0 auto; /*página centrada horizontalmente*/
    background-color: var(--imagen_fondo); /*fondo de la pagina*/
 
    
}
 /*LE aplicamos estilos al h1*/
h1 {
    font-family: Audiowide;
    text-align: center;
    color: blue;

}

/* Estilos al bloque entero de nav */
header nav {
    border: none; /*Le indicamos borde ninguno*/
    background-color: var(--imagen_fondo_nav); /*Clor de fondo*/
    text-decoration: none;
    margin: 10px 30px 10px 10px; /*Le ponemos margen arriba de 10px y a la derecha e izq 30px*/

}

/* Estilos a las listas del nav */
header nav ul {
    list-style-type: none; /*Le quitamos los puntos (·) de las listas"*/
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

/*Le damos estilos a cada uno de los elementos de la ul*/
header nav ul li {
    float: left; /*Le decimos que El elemento se pega al borde izquierdo y el contenido adyacente se coloca a su derecha.*/
    padding: 16px 20px 16px 20px; /*Añadimos relleno entre los enlaces*/

}

/*Estilos a los enlaces de los li*/
header nav ul li a {
    text-decoration: none;
}

/*Le damos estilos para cuando se pase el raton por encima de los li*/
header nav ul li:hover {
    background-color: #eeeeee;
}

/*Le damos estilos para cuando se pase el raton por encima de los li*/
header nav ul li a:hover {
    color: red;
}

/* Para crear un elemento fantasma justo despues del nav */
header nav::after {
    content: ""; /*El contenido del elemento fantasma despues del nav le decimos que este vacío*/
    display: table; /*Ponemos el elemento fantasma como tabal*/
    clear: left; /*le decimos que empiece debajo de elementos que flotaron a la izquierda.*/
}

/*Le ponemos al parrafo con el id destacado los estilos*/
#destacado {
    border: dashed orange;
    background-color: #feffcd;
    padding: 10px;
    margin: 10px 30px 10px 10px; /*Le ponemos margen arriba de 10px y a la derecha e izq 30px*/
    
}

/* Pseudoselector: primer párrafo dentro de .caja */
.caja p:first-child {
    font-weight: bold; /*Ponemos el texto en negrita*/
    text-decoration: underline; /*Le ponemos el subrayado*/
}

/* Segundo párrafo dentro de la caja */
.caja p:nth-of-type(2) {
clear: both; /* fuerza a empezar debajo del flotado anterior */
padding: 5px;
}

.footer {
    clear: both;
}

/* Estilos a los 2 textos que hay (div centrad */
.centrado {
    position: relative;
    
}

/*Estilos a los div con clase "caja"*/
.caja {
    color: green;
    border: blue solid;
    margin-top: 50px;
}

.centrado div:first-of-type {
    float: left; /*Le ponemos que flote a la izquierda*/
    justify-content: center; /*Ponemos el contenido justificad*/
    margin-left: 50px; /*Le ponemos margen izq para centar*/
   
    

}

/* Le damos estilos al segundo div dentro del div que tiene la clase centrado */
.centrado div:nth-of-type(2) {
     margin-right: 820px; /*Le ponemos margen derecho para centar*/
    float: right; /*Le ponemos que sea un elemento flotante*/

}

/* Estilos a la imagen que va enla derecha (fondo blanco) */
.derecha {
    float: right; /*Le ponemos que flote a la derecha*/
    width: 80px; /*Le ponemos anto y alto de 80px*/
    margin-right: 20px; /*MArgen derechi*/
    margin-bottom: 20px;
}

/* Estilos a la imagen que va a la izq (la azul) */
.izquierda{
    width: 80px;/*Le damos de alto y ancho 80px*/
    margin-left: 10px; /*Le damos 10px de margen izq*/
}

.centrado div:nth-of-type(2) p:first-of-type{
    
}














