
.main {
    display: flex;
    gap: 2px;
    
}



.main, .menu, .sidebar {
    height: 100vh;
    .main .sidebar,
    padding: 12px 24px;
    

}


.menu {
    background-color: aqua;
    display: flex;
    align-items: start;
    padding: 0;
    margin: 0;
}
.menu li{
    border-bottom: solid 1px gray;
    list-style: none;
    display: flex;
    align-items: flex-start;
    
}

 ul{
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-betwen;
    gap: 2px;
    padding:0 24px;
    list-style: none;
  }  
.sidebar {
    background-color: aqua;
    flex: 8;
}